node-red/.flows.json.backup
[{"id":"8f0f695b.3405e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee8b2209.f1dc1","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"10f4c357.f3da8d","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"c5f46e3.526939","type":"ha-zone","z":"8f0f695b.3405e8","server":"ee8b2209.f1dc1","name":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.sm_g986b"],"event":"enter","zones":["zone.trine_arbejde"],"x":250,"y":480,"wires":[["164adf8.243cf21"]]},{"id":"164adf8.243cf21","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"f1856bd2.9241b8","type":"ha-zone","z":"8f0f695b.3405e8","server":"ee8b2209.f1dc1","name":"","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.sm_g988b"],"event":"enter","zones":["zone.trine_arbejde"],"x":250,"y":420,"wires":[["164adf8.243cf21"]]}]