node-red/flows.json
[{"id":"8f0f695b.3405e8","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"ee8b2209.f1dc1","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6c1b83ea.339fec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6ad4ca8.c7fe7","type":"stoptimer","z":"8f0f695b.3405e8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"11minDueToIkeas1MinSensor","x":490,"y":200,"wires":[["a7d6d01f.baf8e"],[]]},{"id":"a7d6d01f.baf8e","type":"api-call-service","z":"8f0f695b.3405e8","name":"OFF","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"light.badevaerelse_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":200,"wires":[["234ba488.a96ccc"]]},{"id":"15274ce9.a49a43","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONNight","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.badevaerelse1, light.badevaerelse2","data":"{\"brightness\":\"10\",\"color_temp\":\"499\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":60,"wires":[["234ba488.a96ccc"]]},{"id":"7ff5499a.8922d8","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":140,"wires":[["c6ad4ca8.c7fe7","166ef4fa.631afb"],["c6ad4ca8.c7fe7"]]},{"id":"166ef4fa.631afb","type":"api-current-state","z":"8f0f695b.3405e8","name":"Already On?","server":"ee8b2209.f1dc1","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.badevaerelse_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":100,"wires":[[],["f7216323.0dd15"]]},{"id":"234ba488.a96ccc","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"3afcdf67.21f4f","type":"server-state-changed","z":"8f0f695b.3405e8","name":"gang Motion","server":"ee8b2209.f1dc1","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sensor_gang_philips","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":400,"wires":[["3a4b1010.fb688"]]},{"id":"8c66f9e4.62df88","type":"stoptimer","z":"8f0f695b.3405e8","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1min","x":410,"y":460,"wires":[["7b15c39b.a4671c"],[]]},{"id":"7b15c39b.a4671c","type":"api-call-service","z":"8f0f695b.3405e8","name":"OFF","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"light.gang_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":460,"wires":[["6dc1d096.0db1f"]]},{"id":"4944137d.25612c","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONNight","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.gang1, light.gang2","data":"{\"brightness\":\"10\",\"color_temp\":\"499\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":320,"wires":[["6dc1d096.0db1f"]]},{"id":"3a4b1010.fb688","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":400,"wires":[["8c66f9e4.62df88","1d376add.536905"],["8c66f9e4.62df88"]]},{"id":"1d376add.536905","type":"api-current-state","z":"8f0f695b.3405e8","name":"Already On?","server":"ee8b2209.f1dc1","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.gang_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":380,"wires":[[],["e4ede346.68d88"]]},{"id":"6dc1d096.0db1f","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":400,"wires":[]},{"id":"78fd2c63.e31f64","type":"server-state-changed","z":"8f0f695b.3405e8","name":"Badeværelse Motion","server":"ee8b2209.f1dc1","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tradfri_sensor_badevaerelse","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":90,"y":140,"wires":[["7ff5499a.8922d8"]]},{"id":"f7216323.0dd15","type":"time-range-switch","z":"8f0f695b.3405e8","name":"","lat":"57.048820","lon":"9.921747","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":"0","x":650,"y":100,"wires":[["15274ce9.a49a43"],["fa0e0454.74b718"]]},{"id":"fa0e0454.74b718","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONDay","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.badevaerelse1, light.badevaerelse2","data":"{\"brightness\":\"255\",\"color_temp\":\"230\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":140,"wires":[["234ba488.a96ccc"]]},{"id":"e4ede346.68d88","type":"time-range-switch","z":"8f0f695b.3405e8","name":"","lat":"57.048820","lon":"9.921747","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":"0","x":650,"y":360,"wires":[["4944137d.25612c"],["d5ac91f0.7b6ad"]]},{"id":"d5ac91f0.7b6ad","type":"api-call-service","z":"8f0f695b.3405e8","name":"ONDay","server":"ee8b2209.f1dc1","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.gang1, light.gang2","data":"{\"brightness\":\"255\",\"color_temp\":\"230\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":820,"y":400,"wires":[["6dc1d096.0db1f"]]}]