node-red/flows.json
[{"id":"8f0f695b.3405e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e89db148.97c89","type":"subflow","name":"Garage doors open? Motion?","info":"","category":"","in":[],"out":[{"x":440,"y":100,"wires":[{"id":"2277c408.f3fbcc","port":0},{"id":"255daffa.19a3e","port":0},{"id":"1d413393.d37cac","port":0}]},{"x":440,"y":200,"wires":[{"id":"1d413393.d37cac","port":0}]}],"env":[]},{"id":"66fa4263.305cdc","type":"subflow","name":"Dining light on & motion?","info":"","category":"","in":[],"out":[{"x":500,"y":140,"wires":[{"id":"ffaec90f.b85168","port":0},{"id":"25cccb7a.0a4c34","port":0}]}],"env":[],"status":{"x":500,"y":200,"wires":[{"id":"25cccb7a.0a4c34","port":0},{"id":"ffaec90f.b85168","port":0}]}},{"id":"21a7690.31b8b98","type":"subflow","name":"Before or after bedtime?","info":"","category":"","in":[{"x":160,"y":160,"wires":[{"id":"59a60478.4e4e2c"}]}],"out":[{"x":520,"y":140,"wires":[{"id":"59a60478.4e4e2c","port":0}]},{"x":520,"y":260,"wires":[{"id":"9681f55e.fa2638","port":0}]}],"env":[{"name":"Before bed","type":"str","value":"on"},{"name":"After bed","type":"str","value":"on"}]},{"id":"ee8b2209.f1dc1","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"10f4c357.f3da8d","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6c1b83ea.339fec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26956a45.92d866","type":"server","name":"Hass.io","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"8ac3cd7f.58d3e","type":"server","name":"Home Assistant"},{"id":"255daffa.19a3e","type":"server-state-changed","z":"e89db148.97c89","name":"Garage Door Open","server":"26956a45.92d866","version":1,"entityidfilter":"cover.door_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":190,"y":160,"wires":[[],[]]},{"id":"1d413393.d37cac","type":"server-state-changed","z":"e89db148.97c89","name":"Garage Motion","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.motion_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":180,"y":220,"wires":[[],[]]},{"id":"2277c408.f3fbcc","type":"server-state-changed","z":"e89db148.97c89","name":"Utility-Garage Door","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.interior_door_utility_garage","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":190,"y":100,"wires":[[],[]]},{"id":"ffaec90f.b85168","type":"poll-state","z":"66fa4263.305cdc","name":"Dining light on?","server":"26956a45.92d866","version":1,"updateinterval":"11","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"light.dining","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":300,"y":180,"wires":[[],[]]},{"id":"25cccb7a.0a4c34","type":"server-state-changed","z":"66fa4263.305cdc","name":"Dining motion","server":"26956a45.92d866","version":1,"entityidfilter":"binary_sensor.motion_dining","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":310,"y":140,"wires":[[],[]]},{"id":"59a60478.4e4e2c","type":"time-range-switch","z":"21a7690.31b8b98","name":"Dark before bedtime","lat":"27.918805","lon":"-81.866830","startTime":"sunset","endTime":"21:30","startOffset":"","endOffset":0,"x":320,"y":160,"wires":[[],["9681f55e.fa2638"]]},{"id":"9681f55e.fa2638","type":"time-range-switch","z":"21a7690.31b8b98","name":"Dark after bedtime.","lat":"27.918805","lon":"-81.866830","startTime":"21:30","endTime":"sunrise","startOffset":"","endOffset":0,"x":310,"y":240,"wires":[[],[]]},{"id":"6ecaaf70.140b3","type":"server-state-changed","z":"8f0f695b.3405e8","name":"Badeværelse Motion","server":"ee8b2209.f1dc1","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.tradfri_sensor_badevaerelse","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":140,"wires":[["7ff5499a.8922d8"]]},{"id":"c6ad4ca8.c7fe7","type":"stoptimer","z":"8f0f695b.3405e8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"16minDueToIkeas1MinSensor","x":570,"y":200,"wires":[["a7d6d01f.baf8e"],["377131ff.671abe"]]},{"id":"a7d6d01f.baf8e","type":"api-call-service","z":"8f0f695b.3405e8","name":"OFF","server":"ee8b2209.f1dc1","version":"1","debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"light.badevaerelse_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":160,"wires":[["234ba488.a96ccc"]]},{"id":"15274ce9.a49a43","type":"api-call-service","z":"8f0f695b.3405e8","name":"ON","server":"ee8b2209.f1dc1","version":"1","debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"light.badevaerelse_group","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":80,"wires":[["234ba488.a96ccc"]]},{"id":"7ff5499a.8922d8","type":"switch","z":"8f0f695b.3405e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":140,"wires":[["c6ad4ca8.c7fe7","166ef4fa.631afb"],["c6ad4ca8.c7fe7"]]},{"id":"166ef4fa.631afb","type":"api-current-state","z":"8f0f695b.3405e8","name":"Already On?","server":"ee8b2209.f1dc1","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.badevaerelse_group","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":120,"wires":[[],["15274ce9.a49a43"]]},{"id":"234ba488.a96ccc","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":140,"wires":[]},{"id":"377131ff.671abe","type":"debug","z":"8f0f695b.3405e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]}]